{% extends './base.html' %}
{% load static %}

{% block title %}
<title>jugador</title>
{% endblock %}

{% block titulo %}
  Informacion de los jugadores

{% endblock %}


{% block lead %}

<h1>
    lista de jugadores:
</h1>
{% for jugadores in jugadores_list %}
    <a href="{% url 'partidos:detalle-jugadores'  jugadores.uniqueId %}">
        {{ jugador.nombre }} -- {{ jugador.apellido }}
    </a><br>
{% endfor %}

    <a href="{% url 'partidos:crear-jugadores' %}" class="btn btn-lg btn-success">
    Crear jugadores
    </a>

{% endblock %}

